Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging, deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Path conditions:
  deploy-mobile-android-production: any of: common/**/*, mobile/**/*
  deploy-mobile-android-staging: any of: common/**/*, mobile/**/*
  deploy-mobile-ios-production: any of: common/**/*, mobile/**/*
  deploy-mobile-ios-staging: any of: common/**/*, mobile/**/*
  deploy-web-production: any of: {*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}
  deploy-web-staging: any of: {*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}
  deploy-web-develop: any of: {*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}
  deploy-web-feature: any of: {*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}

now config
  pages/_app.js
Due: none

Testing husky
  package.json
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Test hooks
  hooks/pre-commit
Due: none

Excuse to commit
  mobile/app/screens/HomeScreen.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Testing husky
  cli/.eslintrc
Due: none

Testing husky
  mobile/app/screens/HomeScreen.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

now config
  .eslintignore
  cli/.editorconfig
  cli/.eslintrc
  common/project.js
  common/providers/withPerformance.js
  common/reducer.js
  common/utils/_data.js
  components/Foos.js
  components/withUserRedirect.js
  env/project_dev.js
  env/project_prod.js
  env/project_staging.js
  package.json
  pages/_app.js
  pages/article/[id].js
  pages/index.js
  pages/markup.js
  stories/index.js
  tests/pact/helpers/initialise-tests.js
  tests/pact/helpers/pact.mock-server.js
  tests/pact/helpers/setup.pact.js
  webpack/plugins.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging, deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

now config
  package.json
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Testing husky
  mobile/package.json
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

now config
  .huskyrc
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Pre push lint fixing
  cli/src/commands/collection.js
  cli/src/commands/crud.js
  cli/src/commands/generate.js
  cli/src/commands/get.js
  cli/src/commands/post.js
  cli/src/commands/update.js
  cli/src/controller.js
  cli/src/helpers/capitalize.js
  cli/src/helpers/getPrefix.js
  cli/src/helpers/writer.js
  cli/src/index.js
  cli/src/templates.js
  common/project.js
  common/providers/withPerformance.js
  common/reducer.js
  common/utils/_data.js
  components/Foos.js
  components/withUserRedirect.js
  env/project_dev.js
  env/project_prod.js
  env/project_staging.js
  package.json
  pages/article/[id].js
  pages/markup.js
  stories/index.js
  tests/pact/helpers/initialise-tests.js
  tests/pact/helpers/pact.mock-server.js
  tests/pact/helpers/setup.pact.js
  webpack/plugins.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging, deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Removed husky config from package.json
  .huskyrc
  package.json
  pages/_app.js
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

this should get fixed pre push
  pages/_app.js
Due: none

husky testing
  pages/_app.js
Due: none

Switched linting fix back to precommit
  .huskyrc
  pages/_app.js
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Secured encryption support for async storage
  common/project.js
  mobile/app/project/api/api.js
  mobile/app/project/api/async-storage-api.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Updated Podfile.lock
  mobile/ios/Podfile.lock
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Custom post install script
  mobile/package.json
  mobile/postinstall.sh
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Better checking for app center vars
  mobile/postinstall.sh
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Prevent exit code 1 on linting
  mobile/package.json
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Pinned android CLI to ~3.0.0 due to major breakage of appcenter builds
  mobile/package.json
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Force RN android cli to 3.0.2
  mobile/package.json
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Trying removal of Podfile.lock for appcenter build
  mobile/ios/Podfile.lock
  mobile/postinstall.sh
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Remove yarn.lock. Revert pod repo update for appcenter
  mobile/.gitignore
  mobile/postinstall.sh
  mobile/yarn.lock
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Resolutions only works with yarn
  mobile/package.json
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Mobile distribution script
  .gitlab-ci.yml
  bin/distribute-mobile.sh
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Triggering a mobile deploy
  mobile/app/screens/HomeScreen.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Target last 2 browser versions for web babel
  .babelrc
  package-lock.json
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

tidy up reducer and saga
  common/reducer.js
  common/saga.js
  package-lock.json
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging, deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

static script
  package.json
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Delete item in cli
  cli/src/commands/crud.js
  cli/src/commands/delete.js
  cli/src/controller.js
  cli/src/templates.js
  common/reducer.js
  tests/pact/tests/test.pact.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Add delete templates to cli
  cli/src/templates.js
Due: none

Major bug fix to handleResponse
  common/saga.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging
