Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

deploy-mobile-android-production:
  before_script:
  - echo fs.inotify.max_user_watches=524288 | tee -a /etc/sysctl.conf && sysctl -p
  - cd mobile
  - npm i
  - npm run env_script
  image: ssgluke/gitlab-ci-codepush:v1.5
  stage: deploy
  variables:
    ENV: prod
  script:
  ...

deploy-mobile-ios-production:
  before_script:
  - echo fs.inotify.max_user_watches=524288 | tee -a /etc/sysctl.conf && sysctl -p
  - cd mobile
  - npm i
  - npm run env_script
  image: ssgluke/gitlab-ci-codepush:v1.5
  stage: deploy
  variables:
    ENV: prod
  script:
  ...

deploy-web-production:
  before_script:
  - npm i -g now
  - npm run env_script
  image: mhart/alpine-node:14
  stage: deploy
  variables:
    ENV: prod
  script:
  - now --target production -e STAGED=false --token $NOW_TOKEN --scope $NOW_TEAM_NAME --confirm --local-config now.json --prod --build-env ENV=$ENV --name=$CI_PROJECT_NAME

deploy-web-feature:
  before_script:
  - npm i -g now
  - npm run env_script
  image: mhart/alpine-node:14
  stage: deploy
  variables:
    ENV: dev
  script:
  - url=$(now --token $NOW_TOKEN --scope $NOW_TEAM_NAME --confirm --local-config now.json --build-env ENV=$ENV --name=$CI_PROJECT_NAME)
  ...

mobile alias
  babel.config.js
  tsconfig.json
Due: deploy-web-production, deploy-web-feature

mobile ios / android ignore
  .nowignore
Due: deploy-web-production, deploy-web-feature

initial commit
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

Adjust meta
  common/utils/_data.ts
  mobile/app/components/LinkHandler.tsx
  pages/_document.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

remove type
  common/state-type.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

update dependencies
  .eslintrc.js
  README.md
  common/saga.ts
  common/utils/_data.ts
  mobile/app/style/style_type.ts
  next.config.js
  package-lock.json
  package.json
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

update dependencies
  package.json
  project/polyfill.js
Due: deploy-web-production, deploy-web-feature

updates
  .webpack/plugins.js
  package-lock.json
  package.json
  tsconfig.json
Due: deploy-web-production, deploy-web-feature

typescript patch fix
  patches/typescript+4.4.4.patch
Due: deploy-web-production, deploy-web-feature

adjust test dependencies
  package-lock.json
  package.json
  tests/e2e/tests/main.e2e.js
Due: deploy-web-production, deploy-web-feature

remove @babel/plugin-proposal-class-properties
  babel.config.js
Due: deploy-web-production, deploy-web-feature

@babel/plugin-proposal-class-properties
  package.json
Due: deploy-web-production, deploy-web-feature

revert chromedriver
  package.json
Due: deploy-web-production, deploy-web-feature

remove index.e2e
  .webpack/plugins.js
  tests/e2e/index.e2e.js
Due: deploy-web-production, deploy-web-feature

remove unused
  tests/e2e/README.md
  tests/e2e/slack-upload.test.js
Due: deploy-web-production, deploy-web-feature

add jest readme
  .eslintrc.js
  README.md
Due: deploy-web-production, deploy-web-feature

Neaten storybook
  components/Messages.tsx
  components/base/forms/Input.tsx
  components/base/forms/InputGroup.tsx
  components/base/forms/Radio.tsx
  components/base/forms/Select.tsx
  stories/Button.stories.tsx
  stories/Forms.stories.tsx
  stories/base-components/Loader.stories.tsx
  stories/base-components/Message.stories.tsx
  stories/base-components/Panel.stories.tsx
  stories/base-components/Tabs.stories.tsx
  stories/forms/Button.stories.tsx
  stories/forms/DatePicker.stories.tsx
  stories/forms/FormsGeneral.stories.tsx
  stories/modals/Modal.stories.tsx
  stories/modals/ModalAlert.stories.tsx
  stories/modals/ModalConfirm.stories.tsx
Due: deploy-web-production, deploy-web-feature

Allow storybook to use react native web
  .storybook/main.js
  common/components/SharedComponent.tsx
  common/global-rn.js
  mobile/app/components/base/forms/TextInput.tsx
  mobile/app/style/style-utils/style_pxToEm.ts
  package-lock.json
  project/polyfill.js
  stories/shared/SharedComponent.stories.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

neaten
  .eslintrc.js
  pages/examples/form.js
  pages/examples/formly-form.js
  project/ie11/index.ts
  project/localization.ts
  project/polyfill.js
  public/blog.json
  server.js
  types/global.d.ts
Due: deploy-web-production, deploy-web-feature

Update react native, storybook and bottom drawer
  mobile/.gitignore
  mobile/android/app/build.gradle
  mobile/android/app/src/debug/AndroidManifest.xml
  mobile/android/build.gradle
  mobile/android/gradle.properties
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/app/components/BottomDrawer.tsx
  mobile/app/navigation/BottomTabsNavigator.tsx
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/package-lock.json
  mobile/package.json
  mobile/stories/index.js
  mobile/stories/setup.js
  package-lock.json
  package.json
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Add toast
  components/toast.tsx
  mobile/ios/mobile.xcodeproj/project.pbxproj
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  styles/3rdParty/_index.scss
  styles/3rdParty/_react-toastify.scss
  styles/components/_index.scss
  styles/components/_toast.scss
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

RN web fixes
  .storybook/main.js
  common/components/SharedComponent.tsx
  common/components/grid/Col.tsx
  common/components/grid/Col.type.ts
  common/components/grid/Col.web.tsx
  next.config.js
  package-lock.json
  package.json
  pages/index.tsx
  project/polyfill.js
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

re-add server.js
  server.js
Due: deploy-web-production, deploy-web-feature

re-add server.js
  server/index.js
Due: none

add mobile grid
  babel.config.js
  common/components/SharedComponent.tsx
  common/components/grid/Col.mobile.tsx
  common/components/grid/Col.tsx
  common/global-rn.js
  common/project.js
  components/Messages.tsx
  components/base/forms/Button.tsx
  components/base/forms/InputGroup.tsx
  components/base/forms/Select.tsx
  mobile/app/App.tsx
  mobile/app/components/base/BreakpointProvider.tsx
  mobile/app/components/base/animation/Fade.tsx
  mobile/app/components/base/animation/__snapshots__/Fade.spec.tsx
  mobile/app/components/base/index.js
  mobile/app/screens/HomeScreen.tsx
  mobile/app/style/navigation_styles.ts
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/ios/staging-Info.plist
  mobile/stories/index.js
  mobile/stories/setup.js
  pages/_app.tsx
  project/polyfill.js
  stories/forms/FormsGeneral.stories.tsx
  stories/shared/SharedComponent.stories.tsx
  types/global.d.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

allow reanimated in storybook
  .storybook/main.js
  common/components/grid/Col.mobile.tsx
  stories/shared/SharedComponent.stories.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

neaten
  common/components/SharedComponent.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

re-add pipelines
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

test node-v
  .gitlab-ci.yml
  common/project.js
  common/saga.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

test node-v
  .gitlab-ci.yml
  common/saga.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

test node 17 image
  .gitlab-ci.yml
  common/saga.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

change postinstall check back to $APPCENTER_ACCESS_TOKEN
  mobile/.bin/postinstall.sh
Due: deploy-mobile-android-production, deploy-mobile-ios-production

change postinstall check back to $APPCENTER_ACCESS_TOKEN
  common/saga.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

fix
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

fix
  .bin/get-version.js
Due: none

fix
  package.json
  patches/typescript+4.4.4.patch
Due: deploy-web-production, deploy-web-feature

fix
  package-lock.json
  package.json
  patches/README.md
Due: deploy-web-production, deploy-web-feature

test
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

Path conditions:
  deploy-mobile-android-production: any of: common/**/*, mobile/**/*
  deploy-mobile-ios-production: any of: common/**/*, mobile/**/*
  deploy-web-production: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
  deploy-web-feature: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
