Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Path conditions:
  android-staging: any of: common/**/*, mobile/**/*
  ios-staging: any of: common/**/*, mobile/**/*
  ios-production: any of: common/**/*, mobile/**/*
  android-production: any of: common/**/*, mobile/**/*
  web-production: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
  web-feature: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*

fix build gradle for signing
  .github/actions/mobile-deploy-action/action.yml
  mobile/.bin/clone-config.sh
Due: android-staging, ios-staging, ios-production, android-production

Logging
  mobile/.bin/distribute-mobile.sh
Due: android-staging, ios-staging, ios-production, android-production

use GITHUB_REF_NAME
  .github/actions/mobile-deploy-action/action.yml
Due: none

npm i for mobile deploy
  .github/actions/mobile-deploy-action/action.yml
Due: none

Add Metro Cache
  .github/actions/mobile-cache-action/action.yml
Due: none

Add Metro Cache, add ios build
  .github/workflows/ios-deploy-production.yml
Due: none

cache mobile node
  .github/actions/mobile-cache-action/action.yml
Due: none

node modules cache
  .github/actions/web-cache-action/action.yml
Due: none

1.3.0, staging
  .github/workflows/android-deploy-staging.yml
  .github/workflows/ios-deploy-staging.yml
Due: none

Version Bump from pre-push
  mobile/android/app/build.gradle
  mobile/ios/Info.plist
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

patch CI_COMMIT_REF_NAME=$GITHUB_REF_NAME
  .github/actions/mobile-deploy-action/action.yml
Due: none

patch CI_COMMIT_REF_NAME=$GITHUB_REF_NAME
  mobile/.bin/clone-config.sh
Due: android-staging, ios-staging, ios-production, android-production

Test passing $CI_COMMIT_REF_NAME
  .github/actions/mobile-deploy-action/action.yml
  mobile/.gitignore
Due: android-staging, ios-staging, ios-production, android-production

echo curl
  mobile/.bin/clone-config.sh
Due: android-staging, ios-staging, ios-production, android-production

Send appcenter env vars
  .github/actions/mobile-deploy-action/action.yml
  .github/workflows/android-deploy-production.yml
  .github/workflows/android-deploy-staging.yml
  .github/workflows/ios-deploy-production.yml
  .github/workflows/ios-deploy-staging.yml
Due: none

update prod triggers
  .github/workflows/android-deploy-production.yml
  .github/workflows/ios-deploy-production.yml
Due: none

fix feature deployments for branches with a "."
  .github/actions/web-deploy-branch-action/action.yml
Due: none

Updates
  mobile/.npmrc
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/ios/staging-Info.plist
  mobile/package-lock.json
  mobile/package.json
  package-lock.json
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Version Bump from pre-push
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

Updates
  common/api/types/api-types.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/patches/typescript+4.6.4.patch
  mobile/tsconfig.json
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

fix reactstrap modals
  patches/reactstrap+9.0.1.patch
Due: web-production, web-feature

Update npm versions
  .nvmrc
  package-lock.json
Due: web-production, web-feature

Update npm versions
  package-lock.json
  package.json
Due: web-production, web-feature

Update npm versions
  mobile/ios/Podfile.lock
  mobile/package-lock.json
  package-lock.json
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Update npm versions
  .nvmrc
  package-lock.json
  package.json
Due: web-production, web-feature

Fix close modal, add modal screen example
  mobile/app/navigation/AppNavigator.tsx
  mobile/app/screens/HomeScreen.tsx
  mobile/app/screens/ModalScreen.tsx
  mobile/app/screens/withScreen.tsx
Due: android-staging, ios-staging, ios-production, android-production

Improve types
  .eslintrc.json
  mobile/app/screens/HomeScreen.tsx
  mobile/app/screens/ModalScreen.tsx
  mobile/src/global.d.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Improve types
  mobile/src/global.d.ts
  patches/typescript+4.5.5.patch
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

1.19
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

Version Bump from pre-push
  mobile/android/app/build.gradle
  mobile/ios/Info.plist
Due: android-staging, ios-staging, ios-production, android-production

Updates
  package-lock.json
  package.json
Due: web-production, web-feature

Add Button Variants
  mobile/app/components/base/forms/Button.tsx
  mobile/app/components/base/index.js
  mobile/app/style/_style_screen.ts
  mobile/app/style/style-utils/cn.ts
  mobile/app/style/style_buttons.ts
  mobile/app/style/style_variables.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/stories/Button.stories.tsx
  package-lock.json
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Add Button Variants
  mobile/ios/Podfile.lock
  mobile/package-lock.json
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

Migrate to rn 69
  mobile/.ruby-version
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/mobile/project/MainActivity.java
  mobile/android/app/src/main/java/com/mobile/project/MainApplicationReactNativeHost.java
  mobile/android/app/src/main/jni/Android.mk
  mobile/android/settings.gradle
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/ios/mobile/AppDelegate.mm
  mobile/package-lock.json
  mobile/package.json
  mobile/react-native.config.js
Due: android-staging, ios-staging, ios-production, android-production

Migrate to rn 69
  mobile/android/app/build.gradle
  mobile/android/build.gradle
  mobile/ios/Podfile.lock
  mobile/package-lock.json
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

Version Bump from pre-push
  mobile/android/app/build.gradle
Due: android-staging, ios-staging, ios-production, android-production

Migrate to rn 69
  mobile/.bin/postinstall.sh
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/mobile/project/MainApplicationTurboModuleManagerDelegate.java
  mobile/android/build.gradle
  mobile/android/gradle.properties
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/ios/mobile/AppDelegate.mm
  mobile/patches/react-native-flipper+0.131.1.patch
Due: android-staging, ios-staging, ios-production, android-production
