Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Path conditions:
  android-staging: any of: common/**/*, mobile/**/*
  ios-staging: any of: common/**/*, mobile/**/*
  ios-production: any of: common/**/*, mobile/**/*
  android-production: any of: common/**/*, mobile/**/*
  web-production: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
  web-feature: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*

bump ssg cli
  .bin/.ssgrtk/README.md
  .bin/.ssgrtk/package.json
  .bin/.ssgrtk/src/helpers/findRootPath.ts
  mobile/package.json
  package.json
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

openConfirm, add base input border and label
  mobile/app/components/base/forms/TextInput.tsx
  mobile/app/components/utility-components/openConfirm.ts
  mobile/app/style/style_forms.ts
  mobile/app/style/style_variables.ts
Due: android-staging, ios-staging, ios-production, android-production

Button props
  components/base/forms/Button.tsx
Due: web-production, web-feature

downgrade next
  mobile/patches/typescript+4.6.4.patch
  package-lock.json
  package.json
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

downgrade next
  mobile/patches/typescript+4.6.4.patch
Due: android-staging, ios-staging, ios-production, android-production

remove typescript patch
  patches/typescript+4.5.5.patch
Due: web-production, web-feature

move typescript to devdeps
  package-lock.json
  package.json
  patches/typescript+4.5.5.patch
Due: web-production, web-feature

bump typescript
  package-lock.json
  package.json
  patches/typescript+4.6.4.patch
Due: web-production, web-feature

created SEO wrapper component
  components/SeoContainer.tsx
  package-lock.json
  package.json
  pages/other.tsx
Due: web-production, web-feature

component name change
  components/PageContainer.tsx
  pages/other.tsx
Due: web-production, web-feature

Update readme to include instructions on running storybook. Add a "small" variant to web button component
  README.md
  components/base/forms/Button.tsx
  pages/index.tsx
Due: web-production, web-feature

update webstorm settings
  .bin/webstorm-settings.zip
Due: none

Component improvements
  mobile/app/components/base/forms/TextInput.tsx
  mobile/app/screens/withScreen.tsx
Due: android-staging, ios-staging, ios-production, android-production

update webstorm settings
  .bin/webstorm-settings.zip
  common/utils/errorHandler.ts
  components/PageContainer.tsx
  types/nextPageWithLayout.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Remove ruby file
  mobile/.ruby-version
  mobile/Gemfile
Due: android-staging, ios-staging, ios-production, android-production

re-add ruby file
  mobile/.ruby-version
  mobile/Gemfile
Due: android-staging, ios-staging, ios-production, android-production

Add nvm fix
  mobile/ios/mobile.xcodeproj/project.pbxproj
Due: android-staging, ios-staging, ios-production, android-production

Fix production builds ios
  mobile/app/navigation/AppNavigator.tsx
  mobile/ios/mobile.xcodeproj/project.pbxproj
Due: android-staging, ios-staging, ios-production, android-production

Update README.md
  README.md
Due: web-production, web-feature
