Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Path conditions:
  deploy-mobile-android-production: any of: common/**/*, mobile/**/*
  deploy-mobile-ios-production: any of: common/**/*, mobile/**/*
  deploy-web-production: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
  deploy-web-feature: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*

test-again
  mobile/app/App.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production

test
  common/providers/useActionAppointment.ts
  mobile/app/App.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

test
  .husky/pre-commit
Due: none

test
  mobile/app/App.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production

re-add postcss
  package.json
Due: deploy-web-production, deploy-web-feature

adjust precommit
  package-lock.json
  package.json
Due: deploy-web-production, deploy-web-feature

screenOrientation: "portrait_up",
  common/api-type.ts
  mobile/app/screens/HomeScreen.tsx
  mobile/app/screens/examples/GenericScreen.tsx
  mobile/app/style/navigation_styles.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Swapping out redux-middleware-flipper for redux-flipper
  mobile/app/project/api/api.ts
  mobile/ios/Podfile.lock
  mobile/package-lock.json
  mobile/package.json
Due: deploy-mobile-android-production, deploy-mobile-ios-production

add react-native-web
  babel.config.js
  common/components/SharedComponent.tsx
  next-env.d.ts
  package-lock.json
  package.json
  pages/_document.tsx
  pages/index.tsx
  project/polyfill.js
  types/global.d.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

base components
  babel.config.js
  common/components/SharedComponent.tsx
  common/components/grid/Column.spec.tsx
  common/components/grid/Column.tsx
  common/components/grid/Container.spec.tsx
  common/components/grid/Container.tsx
  common/components/grid/Flex.spec.tsx
  common/components/grid/Flex.tsx
  common/components/grid/FormGroup.spec.tsx
  common/components/grid/FormGroup.tsx
  common/components/grid/Row.spec.tsx
  common/components/grid/Row.tsx
  common/components/grid/__snapshots__/Column.spec.tsx.snap
  common/components/grid/__snapshots__/Container.spec.tsx.snap
  common/components/grid/__snapshots__/Flex.spec.tsx.snap
  common/components/grid/__snapshots__/FormGroup.spec.tsx.snap
  common/components/grid/__snapshots__/Row.spec.tsx.snap
  common/style/_style_screen.ts
  common/style/navigation_styles.ts
  common/style/style-utils/asStyle.ts
  common/style/style-utils/style_pxToEm.ts
  common/style/style_base.ts
  common/style/style_buttons.ts
  common/style/style_forms.ts
  common/style/style_grid.ts
  common/style/style_lists.ts
  common/style/style_type.ts
  common/style/style_variables.ts
  next.config.js
  package-lock.json
  package.json
  pages/index.tsx
  project/polyfill.js
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

base components
  babel.config.js
  common/animation-util/AnimationTester.tsx
  common/animation-util/WithSetValue.tsx
  common/animation-util/clamp.ts
  common/animation-util/reanimations.ts
  common/animation-util/toNearest.ts
  common/animation-util/useMeasure.tsx
  common/components/SharedComponent.tsx
  common/components/animation/Fade.spec.tsx
  common/components/animation/Fade.tsx
  common/components/grid/Flex.tsx
  common/components/grid/index.tsx
  common/global-rn.js
  mobile/app/components/BottomDrawer.tsx
  mobile/app/components/CustomModal.tsx
  mobile/app/components/SegmentedControl.tsx
  mobile/app/components/base/index.js
  mobile/src/rn.d.ts
  mobile/stories/index.js
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  project/ie11/index.ts
  project/polyfill.js
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

update api-types
  common/api-type.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

update api-types, fix styles
  common/global-rn.js
  common/style/_style_screen.ts
  mobile/src/rn.d.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

react-native-web-lottie
  babel.config.js
Due: deploy-web-production, deploy-web-feature

remove loader
  common/components/Loader.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

import polyfill
  pages/index.tsx
Due: deploy-web-production, deploy-web-feature

import fade
  common/components/SharedComponent.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

fix nextjs config
  common/components/SharedComponent.tsx
  next.config.js
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

More tidy up
  common/components/animation/Fade.tsx
  mobile/app/components/CustomNavbar.tsx
  mobile/app/components/DateSelectText.tsx
  mobile/app/components/HTML.tsx
  mobile/app/components/base/forms/Button.tsx
  mobile/app/components/base/forms/Select.tsx
  mobile/app/components/base/forms/SelectBox.tsx
  mobile/app/components/base/forms/TextInput.tsx
  mobile/app/components/base/grid/Column.tsx
  mobile/app/components/base/grid/Container.tsx
  mobile/app/components/base/grid/Flex.tsx
  mobile/app/components/base/grid/FormGroup.tsx
  mobile/app/components/base/grid/Row.tsx
  mobile/app/components/extras/CustomNavbar.tsx
  mobile/app/components/navigation/CustomModalNavbar.tsx
  mobile/app/components/navigation/CustomNavbar.tsx
  mobile/app/components/utility-components/NavBackgroundHelper.tsx
  mobile/src/rn.d.ts
  pages/_app.tsx
  project/api.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

More tidy up
  components/extras/PanelSearch.js
  mobile/app/App.tsx
  mobile/app/components/CustomNavbar.tsx
  mobile/app/components/DateSelect.tsx
  mobile/app/components/DateSelectText.tsx
  mobile/app/components/ModalCloseButton.tsx
  mobile/app/components/Tabs.tsx
  mobile/app/components/base/forms/TextInput.tsx
  mobile/app/components/extras/CustomNavbar.tsx
  mobile/app/components/extras/Tabs.tsx
  mobile/app/components/navigation/CustomModalNavbar.tsx
  mobile/app/navigation/AppNavigator.tsx
  mobile/app/project/api/api.ts
  mobile/app/project/project-components.js
  mobile/app/screens/WebScreen.tsx
  mobile/ios/Podfile.lock
  mobile/package-lock.json
  mobile/package.json
  mobile/src/rn.d.ts
  mobile/stories/examples/StackExample.tsx
  package.json
  pages/_app.tsx
  pages/_document.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

add chromedriver
  nightwatch.conf.js
Due: deploy-web-production, deploy-web-feature

Move SA toast message
  components/toast.tsx
Due: deploy-web-production, deploy-web-feature

remove masked input, npm audit
  components/extras/forms/MaskedInput.js
  package.json
Due: deploy-web-production, deploy-web-feature

dependency fix
  package-lock.json
Due: deploy-web-production, deploy-web-feature

next start
  package.json
Due: deploy-web-production, deploy-web-feature

detox
  mobile/.detoxrc.json
Due: deploy-mobile-android-production, deploy-mobile-ios-production

detox
  .detoxrc.json
Due: deploy-web-production, deploy-web-feature

re-add server.js
  server.js
Due: deploy-web-production, deploy-web-feature

@babel/polyfill
  package.json
Due: deploy-web-production, deploy-web-feature

remove cache
  server.js
Due: deploy-web-production, deploy-web-feature

update gitlabci
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

downgrade nightwatch
  package.json
Due: deploy-web-production, deploy-web-feature

Fixes
  mobile/android/app/src/main/java/com/mobile/project/MainActivity.java
  project/polyfill.js
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature
