Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging, deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Path conditions:
  deploy-mobile-android-production: any of: common/**/*, mobile/**/*
  deploy-mobile-android-staging: any of: common/**/*, mobile/**/*
  deploy-mobile-ios-production: any of: common/**/*, mobile/**/*
  deploy-mobile-ios-staging: any of: common/**/*, mobile/**/*
  deploy-web-production: any of: {*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}
  deploy-web-staging: any of: {*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}
  deploy-web-develop: any of: {*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}
  deploy-web-feature: any of: {*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}

react-native-performance-monitor
  common/providers/withPerformance.js
  mobile/app/project/api/api.js
  mobile/app/routes.js
  mobile/app/screens/HomeScreen.js
  mobile/index.js
  mobile/package-lock.json
  mobile/package.json
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Tidy up
  .eslintrc.js
  .gitignore
  package-lock.json
  server.js
  webpack/loaders.js
  webpack/plugins.js
  webpack/webpack.config.prod.js
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Tidy up
  project/libs.js
  project/polyfill.js
  tests/pact/tests/test.pact.js
  webpack/plugins.js
Due: none

Tidy up
  .eslintrc.js
  .gitignore
  common/lodash.js
  common/providers/_hocTemplate.js
  common/saga.js
  next.config.js
  package-lock.json
  package.json
  server.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging, deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

More lint globals
  .eslintrc.js
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Login redirect
  common/saga.js
  pages/index.js
  project/api.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Fix modal unmount and open
  components/Modal.js
  pages/_app.js
Due: none

mixpanel undefined safety
  project/api.js
Due: none

Clear up startup logic
  common/saga.js
  components/toast.js
  pages/_app.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Log serverside redux errors
  common/reducer.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Error Messages -> Messages
  components/ErrorMessage.js
Due: none

Update cli templates to use Messages
  cli/src/templates.js
Due: none

Set ssr token on clientside
  pages/_app.js
Due: none

Fix row
  components/base/grid/Row.js
Due: none

default flex 1
  components/base/grid/Flex.js
Due: none

eslint <Link
  .eslintrc.js
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Add flex to eslint
  .eslintrc.js
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Fixed only:changes for web gitlab CI
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Tidy up common required changes for web deploys
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Fix for CI
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Another attempt at fixing CI
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Improve pipelines
  .gitlab-ci.yml
  bin/env.sh
  package.json
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Fix home screen
  mobile/app/screens/HomeScreen.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Working
  mobile/android/app/src/main/java/com/mobile/project/MainApplication.java
  mobile/android/build.gradle
  mobile/android/settings.gradle
  mobile/ios/Podfile.lock
  mobile/package-lock.json
  mobile/package.json
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Push to screen example
  mobile/app/screens/HomeScreen.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Push to screen example
  mobile/app/routes.js
  mobile/app/screens/HomeScreen.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Updates
  .eslintrc.js
  .gitignore
  .nowignore
  .storybook/webpack.config.js
  cli/src/helpers/writer.js
  cli/src/templates.js
  common/app-actions.ts
  common/reducer.js
  common/saga.js
  common/store.js
  common/utils/_data.ts
  common/utils/base/_format.ts
  common/utils/base/_utils.ts
  components/Modal.js
  components/ModalAlert.js
  components/base/forms/Input.js
  components/base/grid/Row.js
  components/extras/Panel.js
  components/extras/PanelSearch.js
  components/withUserRedirect.js
  global.d.ts
  mobile/app/project/api/api.js
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  pages/_app.js
  project/api.js
  project/polyfill.js
  public/blog.json
  public/fonts/Proxima-Nova-Regular.woff
  public/fonts/Proxima-Nova-Semibold.woff
  public/images/favicon-16x16.png
  public/images/favicon-32x32.png
  public/images/favicon.ico
  public/images/icons-192.png
  public/images/icons-512.png
  public/manifest.json
  tsconfig.json
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging, deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Opt in for branch and crop picker
  mobile/app/project/api/api.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

sort dependencies, fix manifest.json
  bin/env.js
  package.json
  public/manifest.json
Due: deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

navbar link to storybook
  components/Header.js
Due: none

fix mobile builds
  mobile/app/project/api/api.js
  package.json
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging, deploy-web-production, deploy-web-staging, deploy-web-develop, deploy-web-feature

Add immer to mobile
  .docs/AppCreation.md
  mobile/package-lock.json
  mobile/package.json
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

MMKV
  common/project.js
  common/saga.js
  mobile/README.md
  mobile/app/project/api/api.js
  mobile/app/project/api/async-storage-api.js
  mobile/app/project/api/push-notifications-api.js
  mobile/app/project/globals.js
  mobile/index.js
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/xcshareddata/xcschemes/mobile.xcscheme
  mobile/package-lock.json
  mobile/package.json
  mobile/storage-test.js
  project/api.js
  project/async-storage-api.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Adjustments
  common/project.js
  common/tests/test-helpers.tsx
  mobile/.flowconfig
  mobile/android/build.gradle
  mobile/android/gradle.properties
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/gradlew
  mobile/android/gradlew.bat
  mobile/app/project/api/async-storage-api.js
  mobile/app/screens/example/ExampleScreen.js
  mobile/bin/mobile-only.sh
  mobile/index.js
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/ios/mobile.xcodeproj/xcshareddata/xcschemes/mobile prod.xcscheme
  mobile/ios/mobile.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  mobile/ios/mobile/AppDelegate.m
  mobile/ios/mobile/Info.plist
  mobile/package-lock.json
  mobile/package.json
  mobile/storage-test.js
  mobile/storybook/index.js
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging

Revamp mobile
  common/utils/base/_utils.ts
Due: deploy-mobile-android-production, deploy-mobile-android-staging, deploy-mobile-ios-production, deploy-mobile-ios-staging
