Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

android-staging:
  before_script:
  - echo fs.inotify.max_user_watches=524288 | tee -a /etc/sysctl.conf && sysctl -p
  - cd mobile
  - npm i
  - npm run env_script
  image: node:16.13.2
  stage: deploy
  cache:
    key:
      files:
      - mobile/package-lock.json
    paths:
    - mobile/node_modules/
    policy: pull-push
  variables:
  ...

ios-staging:
  before_script:
  - echo fs.inotify.max_user_watches=524288 | tee -a /etc/sysctl.conf && sysctl -p
  - cd mobile
  - npm i
  - npm run env_script
  image: node:16.13.2
  stage: deploy
  cache:
    key:
      files:
      - mobile/package-lock.json
    paths:
    - mobile/node_modules/
    policy: pull-push
  variables:
  ...

ios-production:
  before_script:
  - echo fs.inotify.max_user_watches=524288 | tee -a /etc/sysctl.conf && sysctl -p
  - cd mobile
  - npm i
  - npm run env_script
  image: node:16.13.2
  stage: deploy
  cache:
    key:
      files:
      - mobile/package-lock.json
    paths:
    - mobile/node_modules/
    policy: pull-push
  variables:
  ...

android-production:
  before_script:
  - echo fs.inotify.max_user_watches=524288 | tee -a /etc/sysctl.conf && sysctl -p
  - cd mobile
  - npm i
  - npm run env_script
  image: node:16.13.2
  stage: deploy
  cache:
    key:
      files:
      - mobile/package-lock.json
    paths:
    - mobile/node_modules/
    policy: pull-push
  variables:
  ...

web-production:
  before_script:
  - npm i -g now
  - npm run env_script
  image: node:16.13.2
  cache:
    key:
      files:
      - package-lock.json
    paths:
    - node_modules/
    - .next
    policy: pull-push
  stage: deploy
  variables:
    ENV: prod
  script:
  - bash
  - npm i
  - npm run test:e2e:prod
  ...

web-feature:
  before_script:
  - npm i -g now
  - npm run env_script
  image: node:16.13.2
  cache:
    key:
      files:
      - package-lock.json
    paths:
    - node_modules/
    - .next
    policy: pull-push
  stage: deploy
  variables:
    ENV: dev
  script:
  - bash
  ...

Version Bump from pre-push
  mobile/android/app/build.gradle
  mobile/ios/Info.plist
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

toolkit test
  common/services/defaultService/index.ts
  common/services/defaultService/requests.ts
  common/services/defaultService/responses.ts
  common/services/defaultService/types.ts
  common/services/defaultService/util/baseQuery.ts
  common/services/defaultService/util/extractRehydrationInfo.ts
  common/store.ts
  common/utils/_data.ts
  mobile/package-lock.json
  mobile/package.json
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

toolkit test
  common/LanguageHandler.tsx
  common/api.ts
  common/api/index.ts
  common/hooks/useAuth.ts
  common/hooks/useIsMount.ts
  common/hooks/useLoggedInRedirect.ts
  common/hooks/useNotLoggedInRedirect.ts
  common/hooks/withPerformance.js
  common/services/defaultService.ts
  common/services/defaultService/index.ts
  common/services/requests.ts
  common/services/responses.ts
  common/services/types.ts
  common/services/util/baseQuery.ts
  common/services/util/extractRehydrationInfo.ts
  components/useUserRedirect.ts
  mobile/app/components/LinkHandler.tsx
  mobile/app/components/base/animation/Fade.tsx
  pages/index.tsx
  pages/login.tsx
  pages/secured.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

comments
  common/services/defaultService.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

move hooks folder
  .cli/src/helpers/writer.js
  common/LanguageHandler.tsx
  common/api.ts
  common/api/index.ts
  common/hooks/useAuth.ts
  common/hooks/useIsMount.ts
  common/hooks/useLoggedInRedirect.ts
  common/hooks/useNotLoggedInRedirect.ts
  common/hooks/withPerformance.js
  components/useUserRedirect.ts
  mobile/app/components/LinkHandler.tsx
  mobile/app/components/base/animation/Fade.tsx
  pages/index.tsx
  pages/login.tsx
  pages/secured.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

update comments
  common/services/defaultService.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

serverside page fetching
  pages/_app.tsx
  pages/index.tsx
  types/serversidePageProps.ts
Due: web-production, web-feature

tidy
  common/utils/_data.ts
  pages/_app.tsx
  pages/index.tsx
  types/serversidePageProps.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

tidy
  pages/_app.tsx
Due: web-production, web-feature

tidy
  common/services/util/baseQuery.ts
  common/services/util/extractRehydrationInfo.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

tidy
  components/DatePicker.tsx
  components/Modal.tsx
  components/base/forms/InputDropdown.tsx
  components/base/forms/InputGroup.tsx
  components/useUserRedirect.ts
  mobile/app/project/api/auth.js
  mobile/e2e/testHelpers.js
  pages/login.tsx
  pages/secured.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Updates
  common/services/defaultService.ts
  common/services/requests.ts
  common/services/responses.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Version Bump from pre-push
  .cli2/.env
  .cli2/.gitinclude
  .cli2/ssg/src/helpers/capitalize.ts
  .cli2/ssg/src/helpers/getPrefix.ts
  .cli2/ssg/src/helpers/writer.ts
Due: none

lint
  .cli2/src/writer.ts
Due: none

Updates
  .eslintrc.json
  common/services/defaultService.ts
  common/services/requests.ts
  common/services/responses.ts
  common/services/types.ts
  pages/article/[id].tsx
  pages/index.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

type fixes
  common/services/types.ts
  components/util/nextReduxWrapper.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Tidy
  common/hooks/useStartup.ts
  common/hooks/useUser.ts
  common/store.ts
  common/types/responses.ts
  common/utils/serviceUtils/index.ts
  pages/_document.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Tidy
  common/hooks/useStartup.ts
  common/hooks/useUser.ts
  common/store.ts
  pages/_app.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Tidy
  common/store.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Version Bump from pre-push
  .cli2/dist/commands/collection.d.ts
  .cli2/dist/commands/collection.js
  .cli2/dist/commands/create.d.ts
  .cli2/dist/commands/create.js
  .cli2/dist/commands/crud.d.ts
  .cli2/dist/commands/crud.js
  .cli2/dist/commands/delete.d.ts
  .cli2/dist/commands/delete.js
  .cli2/dist/commands/get.d.ts
  .cli2/dist/commands/get.js
  .cli2/dist/commands/patch.d.ts
  .cli2/dist/commands/patch.js
  .cli2/dist/commands/update.d.ts
  .cli2/dist/commands/update.js
  .cli2/dist/helpers/capitalize.d.ts
  .cli2/dist/helpers/capitalize.js
  .cli2/dist/helpers/commonQuestions.d.ts
  .cli2/dist/helpers/commonQuestions.js
  .cli2/dist/helpers/getPrefix.d.ts
  .cli2/dist/helpers/getPrefix.js
  .cli2/dist/helpers/gitAdd.d.ts
  .cli2/dist/helpers/gitAdd.js
  .cli2/dist/helpers/lint.d.ts
  .cli2/dist/helpers/lint.js
  .cli2/dist/helpers/plural.d.ts
  .cli2/dist/helpers/plural.js
  .cli2/dist/index.d.ts
  .cli2/dist/index.js
  .cli2/dist/writer.d.ts
  .cli2/dist/writer.js
  .cli2/src/writer.ts
Due: none

Tidy
  common/hooks/useUser.ts
  common/utils/serviceUtils/baseQuery.ts
  common/utils/serviceUtils/index.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Version Bump from pre-push
  .cli2/src/writer.ts
Due: none

cli
  .cli2/dist/commands/collection.d.ts
  .cli2/dist/commands/collection.js
  .cli2/dist/commands/create.d.ts
  .cli2/dist/commands/create.js
  .cli2/dist/commands/crud.d.ts
  .cli2/dist/commands/crud.js
  .cli2/dist/commands/delete.d.ts
  .cli2/dist/commands/delete.js
  .cli2/dist/commands/get.d.ts
  .cli2/dist/commands/get.js
  .cli2/dist/commands/patch.d.ts
  .cli2/dist/commands/patch.js
  .cli2/dist/commands/update.d.ts
  .cli2/dist/commands/update.js
  .cli2/dist/helpers/capitalize.d.ts
  .cli2/dist/helpers/capitalize.js
  .cli2/dist/helpers/commonQuestions.d.ts
  .cli2/dist/helpers/commonQuestions.js
  .cli2/dist/helpers/getPrefix.d.ts
  .cli2/dist/helpers/getPrefix.js
  .cli2/dist/helpers/gitAdd.d.ts
  .cli2/dist/helpers/gitAdd.js
  .cli2/dist/helpers/lint.d.ts
  .cli2/dist/helpers/lint.js
  .cli2/dist/helpers/plural.d.ts
  .cli2/dist/helpers/plural.js
  .cli2/dist/index.d.ts
  .cli2/dist/index.js
  .cli2/dist/writer.d.ts
  .cli2/dist/writer.js
  .cli2/src/writer.ts
  .gitignore
Due: web-production, web-feature

rtk publish
  .cli2/README.md
  .cli2/dist/writer.js
  .cli2/package.json
  .cli2/src/writer.ts
Due: none

rtk publish
  .cli2/README.md
  .cli2/dist/helpers/findRootPath.d.ts
  .cli2/dist/helpers/findRootPath.js
  .cli2/dist/helpers/lint.js
  .cli2/dist/writer.js
  .cli2/package.json
  .cli2/src/helpers/findRootPath.ts
  .cli2/src/helpers/lint.ts
  .cli2/src/writer.ts
  package-lock.json
  package.json
Due: web-production, web-feature

updates
  common/hooks/useLocale.ts
  common/hooks/useStartup.ts
  common/hooks/useUser.ts
  common/store.ts
  common/types/responses.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Version Bump from pre-push
  .cli2/src/commands/action.ts
  .cli2/src/helpers/actionQuestions.ts
Due: none

updates
  common/hooks/useLocale.ts
  common/types/requests.ts
  common/types/responses.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

updates
  .cli2/dist/commands/action.d.ts
  .cli2/dist/commands/action.js
  .cli2/dist/commands/collection.js
  .cli2/dist/commands/create.js
  .cli2/dist/commands/crud.js
  .cli2/dist/commands/delete.js
  .cli2/dist/commands/patch.js
  .cli2/dist/commands/update.js
  .cli2/dist/helpers/actionQuestions.d.ts
  .cli2/dist/helpers/actionQuestions.js
  .cli2/src/commands/action.ts
  .cli2/src/commands/collection.ts
  .cli2/src/commands/create.ts
  .cli2/src/commands/crud.ts
  .cli2/src/commands/delete.ts
  .cli2/src/commands/get.ts
  .cli2/src/commands/patch.ts
  .cli2/src/commands/update.ts
  .cli2/src/writer.ts
Due: none

updates
  .cli2/README.md
  .cli2/dist/commands/action.js
  .cli2/dist/writer.d.ts
  .cli2/dist/writer.js
  .cli2/package.json
  .cli2/src/commands/action.ts
  .cli2/src/writer.ts
Due: none

updates
  .cli2/README.md
  .cli2/package.json
Due: none

updates
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

cli
  .cli2/.editorconfig
  .cli2/.gitignore
  .cli2/.mocharc.json
  .cli2/LICENSE
  .cli2/README.md
  .cli2/bin/dev
  .cli2/bin/dev.cmd
  .cli2/bin/run
  .cli2/bin/run.cmd
  .cli2/package.json
  .cli2/src/commands/action.ts
  .cli2/src/commands/collection.ts
  .cli2/src/commands/create.ts
  .cli2/src/commands/crud.ts
  .cli2/src/commands/delete.ts
  .cli2/src/commands/get.ts
  .cli2/src/commands/patch.ts
  .cli2/src/commands/update.ts
  .cli2/src/helpers/actionQuestions.ts
  .cli2/src/helpers/capitalize.ts
  .cli2/src/helpers/commonQuestions.ts
  .cli2/src/helpers/findRootPath.ts
  .cli2/src/helpers/getPrefix.ts
  .cli2/src/helpers/gitAdd.ts
  .cli2/src/helpers/lint.ts
  .cli2/src/helpers/plural.ts
  .cli2/src/index.ts
  .cli2/src/writer.ts
  .cli2/tsconfig.json
Due: none

updates
  .cli2/.editorconfig
  .cli2/.gitignore
  .cli2/.mocharc.json
  .cli2/LICENSE
  .cli2/README.md
  .cli2/bin/dev
  .cli2/bin/dev.cmd
  .cli2/bin/run
  .cli2/bin/run.cmd
  .cli2/package.json
  .cli2/src/commands/action.ts
  .cli2/src/commands/collection.ts
  .cli2/src/commands/create.ts
  .cli2/src/commands/crud.ts
  .cli2/src/commands/delete.ts
  .cli2/src/commands/get.ts
  .cli2/src/commands/patch.ts
  .cli2/src/commands/update.ts
  .cli2/src/helpers/actionQuestions.ts
  .cli2/src/helpers/capitalize.ts
  .cli2/src/helpers/commonQuestions.ts
  .cli2/src/helpers/findRootPath.ts
  .cli2/src/helpers/getPrefix.ts
  .cli2/src/helpers/gitAdd.ts
  .cli2/src/helpers/lint.ts
  .cli2/src/helpers/plural.ts
  .cli2/src/index.ts
  .cli2/src/writer.ts
  .cli2/tsconfig.json
Due: none

updates
  .ssgrtk/.editorconfig
  .ssgrtk/.gitignore
  .ssgrtk/.mocharc.json
  .ssgrtk/LICENSE
  .ssgrtk/README.md
  .ssgrtk/bin/dev
  .ssgrtk/bin/dev.cmd
  .ssgrtk/bin/run
  .ssgrtk/bin/run.cmd
  .ssgrtk/package.json
  .ssgrtk/src/commands/action.ts
  .ssgrtk/src/commands/collection.ts
  .ssgrtk/src/commands/create.ts
  .ssgrtk/src/commands/crud.ts
  .ssgrtk/src/commands/delete.ts
  .ssgrtk/src/commands/get.ts
  .ssgrtk/src/commands/patch.ts
  .ssgrtk/src/commands/update.ts
  .ssgrtk/src/helpers/actionQuestions.ts
  .ssgrtk/src/helpers/capitalize.ts
  .ssgrtk/src/helpers/commonQuestions.ts
  .ssgrtk/src/helpers/findRootPath.ts
  .ssgrtk/src/helpers/getPrefix.ts
  .ssgrtk/src/helpers/gitAdd.ts
  .ssgrtk/src/helpers/lint.ts
  .ssgrtk/src/helpers/plural.ts
  .ssgrtk/src/index.ts
  .ssgrtk/src/writer.ts
  .ssgrtk/tsconfig.json
Due: none

Path conditions:
  android-staging: any of: common/**/*, mobile/**/*
  ios-staging: any of: common/**/*, mobile/**/*
  ios-production: any of: common/**/*, mobile/**/*
  android-production: any of: common/**/*, mobile/**/*
  web-production: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
  web-feature: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
