Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

deploy-mobile-android-production:
  before_script:
  - echo fs.inotify.max_user_watches=524288 | tee -a /etc/sysctl.conf && sysctl -p
  - cd mobile
  - npm i
  - npm run env_script
  image: ssgluke/gitlab-ci-codepush:v1.5
  stage: deploy
  variables:
    ENV: prod
  script:
  ...

deploy-mobile-ios-production:
  before_script:
  - echo fs.inotify.max_user_watches=524288 | tee -a /etc/sysctl.conf && sysctl -p
  - cd mobile
  - npm i
  - npm run env_script
  image: ssgluke/gitlab-ci-codepush:v1.5
  stage: deploy
  variables:
    ENV: prod
  script:
  ...

deploy-web-production:
  before_script:
  - npm i -g now
  - npm run env_script
  image: mhart/alpine-node:14
  stage: deploy
  variables:
    ENV: prod
  script:
  - now --target production -e STAGED=false --token $NOW_TOKEN --scope $NOW_TEAM_NAME --confirm --local-config now.json --prod --build-env ENV=$ENV --name=$CI_PROJECT_NAME

deploy-web-feature:
  before_script:
  - npm i -g now
  - npm run env_script
  image: mhart/alpine-node:14
  stage: deploy
  variables:
    ENV: dev
  script:
  - url=$(now --token $NOW_TOKEN --scope $NOW_TEAM_NAME --confirm --local-config now.json --build-env ENV=$ENV --name=$CI_PROJECT_NAME)
  ...

test
  .bin/sync-staging.sh
Due: none

remove sync staging
  .bin/sync-staging.sh
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

push to master builds production
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

rename pipelines
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

update dependencies
  package-lock.json
  package.json
  stories/base-components/Message.stories.tsx
Due: deploy-web-production, deploy-web-feature

update api references
  common/api/index.ts
  common/cognito.ts
  common/providers/useNotLoggedInRedirect.ts
  common/reducer.ts
  common/saga.ts
  common/store.ts
  common/utils/_data.ts
  common/utils/saga-helpers.ts
  mobile/app/components/LinkHandler.tsx
  mobile/app/components/base/forms/SelectBox.tsx
  mobile/app/navigation/AppNavigator.tsx
  mobile/app/project/api/api.ts
  mobile/app/project/api/async-storage-api.ts
  mobile/app/project/api/index.ts
  mobile/app/project/api/push-notifications-api.ts
  mobile/app/project/globals.ts
  mobile/app/project/localisation.ts
  mobile/app/project/polyfill.ts
  project/api.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

cyclic dependencies
  mobile/app/App.tsx
  mobile/app/navigation/AppNavigator.tsx
  mobile/app/navigation/BottomTabsNavigator.tsx
  mobile/app/navigation/ModalStack.tsx
  mobile/app/project/api/push-notifications-api.ts
  mobile/app/project/localisation.ts
  mobile/app/routes.tsx
  mobile/app/screens/ModalScreen.tsx
  mobile/src/global.d.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production

run tests in e2e
  .bin/env.sh
  .e2e/.gitignore
  .e2e/cafe/homepage.cafe.ts
  .e2e/index.cafe.ts
  .e2e/init.cafe.ts
  .e2e/server.ts
  .e2e/tsconfig.json
  .e2e/util/helpers.cafe.ts
  .e2e/util/upload-file.ts
  .env-example
  .env/environment-variables.js
  .gitignore
  .testcaferc.js
  .webpack/plugins.js
  README.md
  env/env-example
  env/environment-variables.js
  env/project_dev.js
  env/project_prod.js
  env/project_staging.js
  mobile/.bin/env.sh
  next-env.d.ts
  package-lock.json
  package.json
  patches/nodejslack+1.4.0.patch
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

run tests in e2e
  package.json
Due: deploy-web-production, deploy-web-feature

run tests in e2e
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

run tests in e2e
  .testcaferc.js
Due: deploy-web-production, deploy-web-feature

run tests with solidstategroup/testcafe:16.98
  .docker/solidstategroup-testcafe/Dockerfile
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

remove chromedriver
  package.json
Due: deploy-web-production, deploy-web-feature

test e2e error
  .e2e/cafe/homepage.cafe.ts
Due: none

e2e fix
  .e2e/cafe/homepage.cafe.ts
Due: none

run e2e on master push before deploy
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

mobile_deploy_common_required_changes
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

npm run test:e2e:prod on master
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

use testcafe image for master pipeline
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-feature

Features/hook actions
  .cli/src/commands/get.js
  .cli/src/controller.js
  .cli/src/templates.js
  .prettierrc
  common/providers/useAuth.ts
  mobile/.prettierrc
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

abort controller
  common/saga.ts
  common/utils/_data.ts
  common/utils/constants.ts
  mobile/app/navigation/AppNavigator.tsx
  mobile/app/navigation/BottomTabsNavigator.tsx
  mobile/app/navigation/ModalStack.tsx
  mobile/app/project/api/api.ts
  mobile/app/routes.tsx
  mobile/app/screens/StackScreen.tsx
  mobile/app/screens/WebScreen.tsx
  mobile/app/screens/withScreen.tsx
  mobile/app/style/navigation_styles.ts
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/package-lock.json
  mobile/package.json
  pages/api/messages.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

remove messages api
  pages/api/messages.ts
Due: deploy-web-production, deploy-web-feature

remove app navigator
  common/providers/withAuth.ts
  mobile/app/navigation/AppNavigator.tsx
  mobile/app/navigation/BottomTabsNavigator.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

remove app navigator
  mobile/app/navigation/BottomTabsNavigator.tsx
  mobile/app/screens/withScreen.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production

remove app navigator
  mobile/app/components/base/forms/Button.tsx
  mobile/app/components/base/type/Text.tsx
  mobile/app/route-urls.ts
  mobile/app/routes.tsx
  mobile/app/screens/HomeScreen.tsx
  mobile/app/screens/ModalScreen.tsx
  mobile/app/screens/ModalScreen2.tsx
  mobile/app/style/style_buttons.ts
  mobile/package-lock.json
  mobile/patches/typescript+4.5.5.patch
Due: deploy-mobile-android-production, deploy-mobile-ios-production

optimise imports
  mobile/app/components/base/forms/Button.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production

optimise components
  mobile/app/components/BottomDrawer.tsx
  mobile/app/components/BottomNav.tsx
  mobile/app/components/CustomModal.tsx
  mobile/app/components/CustomNavbar.tsx
  mobile/app/components/base/ListItem.tsx
  mobile/app/components/base/Loader.tsx
  mobile/app/components/base/grid/Row.tsx
  mobile/app/components/base/type/H1.tsx
  mobile/app/components/base/type/H2.tsx
  mobile/app/components/base/type/H3.tsx
  mobile/app/components/base/type/H4.tsx
  mobile/app/components/utility-components/NavBackgroundHelper.tsx
  mobile/app/project/animation-util/AnimationTester.tsx
  mobile/app/screens/HomeScreen.tsx
  mobile/app/screens/ModalScreen.tsx
  mobile/app/screens/WebScreen.tsx
  mobile/app/style/style_grid.ts
  mobile/src/global.d.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production

typecheck
  common/types/api-type.ts
  env/.eslintignore
  mobile/app/components/base/forms/Button.tsx
  mobile/app/project/animation-util/AnimationTester.tsx
  mobile/app/project/api/api.ts
  mobile/app/screens/withScreen.tsx
  mobile/package.json
  mobile/src/global.d.ts
  mobile/tsconfig.json
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

storybook on refresh
  mobile/app/navigation/AppNavigator.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production

remove unused scripts
  mobile/package.json
Due: deploy-mobile-android-production, deploy-mobile-ios-production

npm i fixes
  .bin/.eslintrc
  .bin/mobile-only.sh
  mobile/.bin/postinstall.sh
  mobile/patches/@storybook+client-api+6.3.13.patch
  mobile/patches/@types+react+16.14.11.patch
  package-lock.json
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Path conditions:
  deploy-mobile-android-production: any of: common/**/*, mobile/**/*
  deploy-mobile-ios-production: any of: common/**/*, mobile/**/*
  deploy-web-production: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
  deploy-web-feature: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
