Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Path conditions:
  android-staging: any of: common/**/*, mobile/**/*
  ios-staging: any of: common/**/*, mobile/**/*
  ios-production: any of: common/**/*, mobile/**/*
  android-production: any of: common/**/*, mobile/**/*
  web-production: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
  web-feature: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*

fix page
  pages/secured.tsx
Due: web-production, web-feature

Add title
  pages/index.tsx
Due: web-production, web-feature

ignore flex-1
  postcss.config.js
  styles/flexbox/_index.scss
Due: web-production, web-feature

nprogress
  components/util/NProgress.tsx
  styles/3rdParty/_index.scss
  styles/3rdParty/_nprogress.scss
  styles/_variables.scss
Due: web-production, web-feature

Tidy up components
  .eslintrc.json
  common/strings/strings.ts
  common/utils/errorHandler.ts
  components/LanguageHandler.tsx
  components/ModalAlert.tsx
  components/Nav.tsx
  components/base/forms/Checkbox.tsx
  components/base/forms/Input.tsx
  components/base/forms/Radio.tsx
  mobile/app/project/api/api.ts
  project/api.ts
  project/async-storage-api.ts
  stories/toast/Toast.stories.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Tidy up components
  components/Nav.tsx
Due: web-production, web-feature

Revert style variable
  styles/_variables.scss
Due: web-production, web-feature

Revert style variables
  .eslintrc.json
  styles/flexbox/_index.scss
Due: web-production, web-feature

remove nunito
  pages/_document.tsx
Due: web-production, web-feature

Variants/button web 2
  .storybook/main.js
  common/strings/strings.ts
  components/ModalAlert.tsx
  components/ModalConfirm.tsx
  components/base/forms/Button.tsx
  package-lock.json
  package.json
  pages/index.tsx
  pages/login.tsx
  stories/base-components/Panel.stories.tsx
  stories/forms/Button.stories.tsx
  stories/modals/Modal.stories.tsx
  stories/toast/Toast.stories.tsx
  styles/3rdParty/_index.scss
  styles/project/_buttons.scss
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

nowignore
  .nowignore
Due: web-production, web-feature

1.18.3
  mobile/ios/Info.plist
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

Version Bump from pre-push
  mobile/android/app/build.gradle
  mobile/ios/Info.plist
Due: android-staging, ios-staging, ios-production, android-production

Upgrade
  mobile/.flowconfig
  mobile/android/app/build.gradle
  mobile/android/app/src/debug/AndroidManifest.xml
  mobile/android/app/src/debug/java/com/mobile/project/ReactNativeFlipper.java
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/com/mobile/project/MainActivity.java
  mobile/android/app/src/main/java/com/mobile/project/MainApplication.java
  mobile/android/app/src/main/java/com/mobile/project/MainApplicationReactNativeHost.java
  mobile/android/app/src/main/java/com/mobile/project/MainApplicationTurboModuleManagerDelegate.java
  mobile/android/app/src/main/java/com/mobile/project/MainComponentsRegistry.java
  mobile/android/app/src/main/jni/Android.mk
  mobile/android/app/src/main/jni/MainApplicationModuleProvider.cpp
  mobile/android/app/src/main/jni/MainApplicationModuleProvider.h
  mobile/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.cpp
  mobile/android/app/src/main/jni/MainApplicationTurboModuleManagerDelegate.h
  mobile/android/app/src/main/jni/MainComponentsRegistry.cpp
  mobile/android/app/src/main/jni/MainComponentsRegistry.h
  mobile/android/app/src/main/jni/OnLoad.cpp
  mobile/android/build.gradle
  mobile/android/gradle.properties
  mobile/android/gradle/wrapper/gradle-wrapper.properties
  mobile/android/gradlew
  mobile/android/settings.gradle
  mobile/ios/Gemfile.lock
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/ios/mobile/AppDelegate-future.mm
  mobile/ios/mobile/AppDelegate.m
  mobile/ios/mobile/AppDelegate.mm
  mobile/ios/mobile/main.m
  mobile/package-lock.json
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

Upgrade to react native 68
  common/api/types/api-types.ts
  mobile/android/app/build.gradle
  mobile/android/app/src/main/java/com/mobile/project/MainApplication.java
  mobile/android/app/src/main/java/com/mobile/project/MainApplicationReactNativeHost.java
  mobile/android/app/src/main/java/com/mobile/project/MainApplicationTurboModuleManagerDelegate.java
  mobile/android/app/src/main/java/com/mobile/project/MainComponentsRegistry.java
  mobile/app/project/api/api.ts
  mobile/app/project/api/async-storage-api.ts
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/package-lock.json
  mobile/package.json
  project/async-storage-api.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Upgrade to react native 68
  mobile/android/app/src/debug/java/com/mobile/project/ReactNativeFlipper.java
Due: android-staging, ios-staging, ios-production, android-production

Upgrade to react native 68
  mobile/patches/react-native-launch-arguments+3.0.1.patch
Due: android-staging, ios-staging, ios-production, android-production

remove cmake fix
  mobile/appcenter-pre-build.sh
Due: android-staging, ios-staging, ios-production, android-production

downgrade mmkv
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

echo cmake
  mobile/appcenter-pre-build.sh
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

fix cmake version for appcenter builds
  mobile/appcenter-pre-build.sh
Due: android-staging, ios-staging, ios-production, android-production

echo $PWD
  mobile/appcenter-pre-build.sh
Due: android-staging, ios-staging, ios-production, android-production

brew uninstall cmake
  mobile/appcenter-pre-build.sh
Due: android-staging, ios-staging, ios-production, android-production

try cmake 3.18
  mobile/appcenter-pre-build.sh
Due: android-staging, ios-staging, ios-production, android-production

bump mmkv
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

E2E Action
  .github/actions/web-test-action.yml
  .github/workflows/web-deploy-production.yml
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

Version Bump from pre-push
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

Test action
  README.md
Due: web-production, web-feature

split cache action
  .github/actions/web-cache.yml
  .github/actions/web-test-action.yml
  .github/workflows/web-deploy-production.yml
Due: none

Rune pipelines on .github change
  .github/workflows/web-deploy-production.yml
Due: none

actions/checkout@v3
  .github/workflows/web-deploy-production.yml
Due: none

actions/checkout@v3 in cation
  .github/actions/web-cache.yml
Due: none

rename actions
  .github/actions/web-cache-action/action.yml
  .github/actions/web-test-action/action.yml
Due: none

rename uses action
  .github/workflows/web-deploy-production.yml
Due: none

adjust working directory
  .github/actions/web-test-action/action.yml
Due: none

test:e2e:prod
  .github/actions/web-test-action/action.yml
Due: none

Actions
  .github/actions/web-deploy-branch-action/action.yml
  .github/actions/web-deploy-prod-action/action.yml
  .github/workflows/web-deploy-branch.yml
  package-lock.json
  package.json
Due: web-production, web-feature

Adjust workflows
  .github/workflows/web-deploy-branch.yml
  .github/workflows/web-deploy-production.yml
Due: none
