Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Path conditions:
  android-staging: any of: common/**/*, mobile/**/*
  ios-staging: any of: common/**/*, mobile/**/*
  ios-production: any of: common/**/*, mobile/**/*
  android-production: any of: common/**/*, mobile/**/*
  web-production: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
  web-feature: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*

rn 0.69.2
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/package-lock.json
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

Version Bump from pre-push
  mobile/android/app/build.gradle
  mobile/ios/Info.plist
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

rn 0.69.3 bump
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

Test e2e dev
  .e2e/cafe/homepage.cafe.ts
  package-lock.json
  package.json
Due: web-production, web-feature

Update readme
  README.md
Due: web-production, web-feature

package locks
  mobile/ios/Podfile.lock
  mobile/package-lock.json
  package-lock.json
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Trigger codepush build
  mobile/index.js
Due: android-staging, ios-staging, ios-production, android-production

Appcenter hermes path patch
  mobile/patches/appcenter-cli+2.10.10.patch
Due: android-staging, ios-staging, ios-production, android-production

test other patch
  mobile/patches/appcenter-cli+2.10.10.patch
Due: android-staging, ios-staging, ios-production, android-production

test other patch
  mobile/app.json
  mobile/package.json
  mobile/patches/appcenter-cli+2.10.9.patch
Due: android-staging, ios-staging, ios-production, android-production

rn 0.69.3 bump
  .bin/.docs/android-emulator.png
  .bin/.docs/android-emulator2.png
  .bin/.docs/android-emulator3.png
  .bin/.docs/android-emulator4.png
  .bin/.docs/android-sdk.png
  .bin/.docs/android-sdk2.png
  .bin/.docs/android-sdk3.png
  .bin/.docs/android-sdk4.png
  .bin/.docs/android.md
  README.md
Due: web-production, web-feature

test e2e
  package.json
Due: web-production, web-feature

docs
  README.md
  common/hooks/useLoggedInRedirect.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

docs
  .bin/.docs/GitFlow.md
  .github/actions/web-deploy-branch-prod-action/action.yml
  .github/workflows/web-deploy-branch-prod.yml
Due: none

Rename action
  .github/workflows/web-deploy-branch-prod.yml
Due: none

Rename action
  .github/workflows/web-deploy-branch.yml
Due: none

GitFlow
  .bin/.docs/GitFlow.md
Due: none

GitFlow
  .bin/.docs/cross-platform-development.md
  README.md
Due: web-production, web-feature

GitFlow
  README.md
Due: web-production, web-feature

cli
  .bin/.docs/cli.md
  .bin/.docs/cli.png
  .bin/.docs/webstorm.png
  .bin/webstorm-settings.zip
  README.md
Due: web-production, web-feature

cli
  .bin/.docs/cli.md
  .bin/.docs/cli1.png
  .bin/.docs/cli2.png
  .bin/.docs/cli3.png
  .bin/.docs/cli4.png
Due: none

update aliases
  README.md
Due: web-production, web-feature

webstorm settings
  .bin/webstorm-settings.zip
Due: none

webstorm settings
  .bin/.docs/webstorm.png
  .bin/webstorm-settings.zip
  README.md
Due: web-production, web-feature

mobile instructions
  README.md
  mobile/ios/Podfile.lock
  mobile/package-lock.json
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

add native version note
  .bin/.docs/GitFlow.md
Due: none

appcenter fix
  mobile/.bin/distribute-mobile.sh
  mobile/package.json
  mobile/patches/appcenter-cli+2.10.10.patch
Due: android-staging, ios-staging, ios-production, android-production

align app name
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/java/com/mobile/project/MainActivity.java
  mobile/android/settings.gradle
  mobile/app.json
  mobile/ios/mobile/AppDelegate.mm
  mobile/package-lock.json
Due: android-staging, ios-staging, ios-production, android-production

add native version note
  README.md
  mobile/assets/README.md
  mobile/ios/Info.plist
  mobile/ios/mobile/AppDelegate.mm
  mobile/package-lock.json
  mobile/package.json
  mobile/patches/react-native-asset+2.0.1.patch
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Add npm run screen
  .bin/.ssgrtk/README.md
  .bin/.ssgrtk/package.json
  .bin/.ssgrtk/src/commands/screen.ts
  .bin/.ssgrtk/src/helpers/screenQuestions.ts
  .bin/.ssgrtk/src/writer.ts
Due: none

update stylesheet typescript autocomplete
  .bin/webstorm-settings.zip
  patches/typescript+4.5.5.patch
Due: web-production, web-feature

improve style types
  mobile/app/components/base/forms/Button.tsx
  mobile/app/components/base/type/Text.tsx
  mobile/app/style/_style_screen.ts
  mobile/app/style/style_buttons.ts
  mobile/app/style/style_type.ts
  mobile/app/style/style_variables.ts
  mobile/stories/Button.stories.tsx
Due: android-staging, ios-staging, ios-production, android-production

Messages
  mobile/app/components/Messages.tsx
  mobile/stories/Type.stories.tsx
Due: android-staging, ios-staging, ios-production, android-production

Update next
  next.config.js
  package-lock.json
  package.json
Due: web-production, web-feature

Fix bottom tab nav warning
  mobile/app/navigation/BottomTabsNavigator.tsx
Due: android-staging, ios-staging, ios-production, android-production

Local ssg rtk
  mobile/package.json
Due: android-staging, ios-staging, ios-production, android-production

npx ssg
  .bin/.docs/cli.md
  package.json
Due: web-production, web-feature
