Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Path conditions:
  deploy-mobile-android-production: any of: common/**/*, mobile/**/*
  deploy-mobile-ios-production: any of: common/**/*, mobile/**/*
  deploy-web-production: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
  deploy-web-feature: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*

Fix bottom drawer
  mobile/app/components/BottomDrawer.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production

Minor fixes
  common/project.js
  common/utils/base/_utils.ts
  components/DatePicker.tsx
  components/base/forms/Input.tsx
  stories/examples.storybook.tsx
  tests/web-mocks.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

added react test library, setup jest with /some/ global support
  mobile/package-lock.json
  mobile/package.json
  mobile/setupTests.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production

added jest scripts & more example tests
  mobile/app/components/base/ListItem.spec.tsx
  mobile/app/components/base/ListItem.tsx
  mobile/app/components/base/Loader.spec.tsx
  mobile/app/components/base/Loader.tsx
  mobile/app/components/base/SelectModal.spec.tsx
  mobile/app/components/base/SelectModal.tsx
  mobile/app/components/base/__snapshots__/ListItem.spec.tsx.snap
  mobile/app/components/base/__snapshots__/Loader.spec.tsx.snap
  mobile/app/components/base/__snapshots__/SelectModal.spec.tsx.snap
  mobile/app/components/base/animation/Fade.spec.tsx
  mobile/app/components/base/animation/Fade.tsx
  mobile/app/components/base/forms/Button.tsx
  mobile/app/components/base/forms/TextInput.js
  mobile/app/components/base/forms/__snapshots__/Select.spec.tsx.snap
  mobile/app/components/base/forms/__snapshots__/SelectBox.spec.tsx.snap
  mobile/app/components/base/grid/Container.tsx
  mobile/app/components/base/grid/__snapshots__/Container.spec.tsx.snap
  mobile/app/components/base/grid/__snapshots__/Flex.spec.tsx.snap
  mobile/app/components/base/grid/__snapshots__/FormGroup.spec.tsx.snap
  mobile/app/components/base/loader.lottie.json
  mobile/app/components/base/type/__snapshots__/H2.spec.tsx.snap
  mobile/package.json
  mobile/setupTests.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production

added some additional base compoent tests
  mobile/coverage/clover.xml
  mobile/coverage/coverage-final.json
  mobile/coverage/lcov-report/components/base/ListItem.tsx.html
  mobile/coverage/lcov-report/components/base/Loader.tsx.html
  mobile/coverage/lcov-report/components/base/SelectModal.tsx.html
  mobile/coverage/lcov-report/components/base/forms/Button.tsx.html
  mobile/coverage/lcov-report/components/base/forms/Select.tsx.html
  mobile/coverage/lcov-report/components/base/forms/Text.tsx.html
  mobile/coverage/lcov-report/components/base/forms/TextInput.js.html
  mobile/coverage/lcov-report/components/base/forms/index.html
  mobile/coverage/lcov-report/components/base/grid/Column.tsx.html
  mobile/coverage/lcov-report/components/base/grid/Flex.tsx.html
  mobile/coverage/lcov-report/components/base/grid/FormGroup.tsx.html
  mobile/coverage/lcov-report/components/base/index.html
  mobile/coverage/lcov-report/components/base/type/H1.tsx.html
  mobile/coverage/lcov-report/components/base/type/H2.tsx.html
  mobile/coverage/lcov-report/components/base/type/H3.tsx.html
  mobile/coverage/lcov-report/components/base/type/H4.tsx.html
  mobile/coverage/lcov-report/components/base/type/index.html
  mobile/coverage/lcov-report/index.html
  mobile/coverage/lcov-report/style/_style_screen.ts.html
  mobile/coverage/lcov-report/style/index.html
  mobile/coverage/lcov-report/style/style-utils/asStyle.ts.html
  mobile/coverage/lcov-report/style/style-utils/style_pxToEm.ts.html
  mobile/coverage/lcov-report/style/style_base.ts.html
  mobile/coverage/lcov-report/style/style_forms.ts.html
  mobile/coverage/lcov-report/style/style_lists.ts.html
  mobile/coverage/lcov-report/style/style_variables.ts.html
  mobile/coverage/lcov.info
Due: deploy-mobile-android-production, deploy-mobile-ios-production

Fix bottom drawer keyboard handling for android
  mobile/app/components/BottomDrawer.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production

Fix app
  mobile/app/App.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production

WIP: api-types
  common/api-type.ts
  common/app-actions.ts
  common/project.js
  common/providers/usePasswordRequired.ts
  common/reducer.ts
  common/state-type.ts
  common/utils/constants.ts
  components/Modal.tsx
  mobile/app/project/api/api.ts
  mobile/app/project/api/auth.js
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/package-lock.json
  mobile/package.json
  mobile/src/rn.d.ts
  package-lock.json
  package.json
  types/global.d.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Adjust
  common/api-type.ts
  mobile/src/rn.d.ts
  types/global.d.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Adjust
  common/api-type.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Remove random log
  nightwatch.conf.js
Due: deploy-web-production, deploy-web-feature

Add prettier config
  .eslintrc.js
  .prettierrc
  mobile/.prettierrc
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Tweaks / updates
  common/store.ts
  mobile/.gitignore
  mobile/android/app/BUCK
  mobile/android/app/build.gradle
  mobile/android/app/build_defs.bzl
  mobile/android/app/proguard-rules.pro
  mobile/android/build.gradle
  mobile/app/components/AutoScaleImage.tsx
  mobile/app/components/BottomDrawer.tsx
  mobile/app/components/base/ListItem.tsx
  mobile/app/components/base/SelectModal.tsx
  mobile/app/components/base/animation/Fade.tsx
  mobile/app/components/base/forms/Button.tsx
  mobile/app/components/base/forms/Checkbox.tsx
  mobile/app/components/base/forms/Select.tsx
  mobile/app/components/base/forms/SelectBox.tsx
  mobile/app/components/base/forms/TextInput.js
  mobile/app/components/base/grid/Column.tsx
  mobile/app/components/base/grid/Container.tsx
  mobile/app/components/base/grid/Flex.tsx
  mobile/app/components/base/grid/FormGroup.tsx
  mobile/app/components/base/grid/Row.tsx
  mobile/app/components/base/type/H1.tsx
  mobile/app/components/base/type/H2.tsx
  mobile/app/components/base/type/H3.tsx
  mobile/app/components/base/type/H4.tsx
  mobile/app/components/navigation/CustomNavbar.tsx
  mobile/app/project/api/api.ts
  mobile/app/project/api/async-storage-api.ts
  mobile/app/project/api/push-notifications-api.ts
  mobile/app/style/style_grid.ts
  mobile/appcenter-post-build.sh
  mobile/appcenter-pre-build.sh
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/package.json
  mobile/patches/react-native-reanimated+2.0.0-alpha.9.2.patch
  mobile/src/rn.d.ts
  package-lock.json
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Tweaks / updates
  common/providers/usePasswordRequired.ts
  mobile/app/project/api/api.ts
  mobile/app/project/api/auth.js
  mobile/package-lock.json
  package-lock.json
  package.json
  types/global.d.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

package lock
  common/project.js
  mobile/package-lock.json
  package-lock.json
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Tweaks
  components/ModalConfirm.tsx
  package-lock.json
  package.json
Due: deploy-web-production, deploy-web-feature

update package lock
  package-lock.json
Due: deploy-web-production, deploy-web-feature

Update babel/runtime
  package.json
Due: deploy-web-production, deploy-web-feature

Update babel versions
  package.json
Due: deploy-web-production, deploy-web-feature

Try remove storybook
  package.json
Due: deploy-web-production, deploy-web-feature

Try remove storybook
  babel.config.js
Due: deploy-web-production, deploy-web-feature

Add 0.8.17 fbjs
  package.json
Due: deploy-web-production, deploy-web-feature

New storybook
  .storybook/addons.js
  .storybook/config.js
  .storybook/main.js
  .storybook/preview.js
  .storybook/webpack.config.js
  components/Modal.tsx
  components/base/forms/Button.tsx
  components/base/forms/Panel.tsx
  components/extras/Panel.tsx
  package-lock.json
  package.json
  project/polyfill.js
  stories/Button.stories.tsx
  stories/Forms.stories.tsx
  stories/Loader.stories.tsx
  stories/Message.stories.tsx
  stories/Modal.stories.tsx
  stories/Panel.stories.tsx
  stories/examples.storybook.tsx
  stories/setup.tsx
Due: deploy-web-production, deploy-web-feature

Update stories
  .storybook/main.js
  package.json
  stories/DatePicker.stories.tsx
  stories/Modal.stories.tsx
  stories/ModalAlert.stories.tsx
  stories/ModalConfirm.stories.tsx
  stories/Tabs.stories.tsx
  stories/index.tsx
Due: deploy-web-production, deploy-web-feature

fix typos
  stories/DatePicker.stories.tsx
  stories/Modal.stories.tsx
  stories/ModalAlert.stories.tsx
Due: none

Reduce dependencies
  .cli/src/controller.js
  .cli/src/helpers/writer.js
  .cli/src/templates.js
  common/utils/formik.js
  components/ModalDefault.tsx
  components/extras/PanelSearch.js
  mobile/app/components/HTML.tsx
  mobile/app/components/base/forms/Checkbox.tsx
  mobile/app/components/base/forms/TextInput.js
  mobile/app/components/extras/MaskedInput.js
  mobile/app/components/extras/Tabs.tsx
  mobile/app/project/polyfill.js
  mobile/package.json
  mobile/stories/examples/ExampleScreen.js
  mobile/stories/examples/StackExample.tsx
  package-lock.json
  package.json
  pages/form.js
  pages/formly-form.js
  project/libs.js
  server.js
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Latest nextjs
  .env/project_dev.js
  common/project.js
  common/project.ts
  next-env.d.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  patches/typescript+3.9.7.patch
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

ignore nextjs eslint
  next.config.js
Due: deploy-web-production, deploy-web-feature

adjust dependencies
  package-lock.json
  package.json
  patches/@types+react+16.9.43.patch
  patches/@types+react-native+0.63.23.patch
  patches/typescript+4.3.5.patch
Due: deploy-web-production, deploy-web-feature

Simplify start screens
  .eslintrc.js
  common/project.js
  common/utils/constants.ts
  mobile/.bin/distribute-mobile.sh
  mobile/app/App.tsx
  mobile/app/_templates/_classComponentTemplate.tsx
  mobile/app/_templates/_functionComponentTemplate.tsx
  mobile/app/_templates/_screenTemplate.tsx
  mobile/app/_templates/_stackTemplate.tsx
  mobile/app/navigation/AppNavigator.tsx
  mobile/app/navigation/BottomTabsNavigator.tsx
  mobile/app/project/api/api.ts
  mobile/app/route-urls.ts
  mobile/app/routes.tsx
  mobile/app/screens/HomeScreen.tsx
  mobile/app/screens/Tab1Screen.tsx
  mobile/app/screens/Tab2Screen.tsx
  mobile/app/screens/WebScreen.tsx
  mobile/package.json
  mobile/src/rn.d.ts
  mobile/stories/examples/ExampleScreen.js
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

Adjust tabs
  mobile/app/components/BottomNav.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production

Nested modal example
  mobile/app/navigation/AppNavigator.tsx
  mobile/app/route-urls.ts
  mobile/app/routes.tsx
  mobile/app/screens/ModalScreen.tsx
  mobile/app/screens/ModalScreen2.tsx
  mobile/app/screens/Tab1Screen.tsx
  mobile/ios/Podfile.lock
  mobile/package-lock.json
  mobile/package.json
Due: deploy-mobile-android-production, deploy-mobile-ios-production

fix insets issue
  mobile/app/navigation/BottomTabsNavigator.tsx
  mobile/app/style/style_variables.ts
Due: deploy-mobile-android-production, deploy-mobile-ios-production

fix insets issue
  .husky/pre-commit
  package-lock.json
  package.json
Due: deploy-web-production, deploy-web-feature

Test
  .eslintrc.js
  mobile/app/App.tsx
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature

test-again
  mobile/app/App.tsx
  package.json
Due: deploy-mobile-android-production, deploy-mobile-ios-production, deploy-web-production, deploy-web-feature
