Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Path conditions:
  android-staging: any of: common/**/*, mobile/**/*
  ios-staging: any of: common/**/*, mobile/**/*
  ios-production: any of: common/**/*, mobile/**/*
  android-production: any of: common/**/*, mobile/**/*
  web-production: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*
  web-feature: any of: *, common/**/*, components/**/*, pages/**/*, project/**/*, static/**/*, patches/**/*, public/**/*, styles/**/*, tests/**/*

Improve types
  common/hooks/useThing.ts
  common/store.ts
  common/types/requests.ts
  common/types/responses.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Improve types
  .ssgrtk/README.md
  .ssgrtk/package.json
  .ssgrtk/src/writer.ts
  common/hooks/useThing.ts
  pages/index.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Improve types
  common/hooks/useThing.ts
  common/store.ts
  common/types/requests.ts
  common/types/responses.ts
  pages/index.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Improve cli
  .ssgrtk/README.md
  .ssgrtk/package.json
  .ssgrtk/src/helpers/commonQuestions.ts
  .ssgrtk/src/writer.ts
Due: none

rtk update
  .ssgrtk/package.json
  .ssgrtk/src/writer.ts
Due: none

storybook toggle
  .eslintrc.json
  mobile/app/components/BottomNav.tsx
  mobile/app/components/DateSelect.tsx
  mobile/app/components/base/forms/SelectBox.tsx
  mobile/app/navigation/AppNavigator.tsx
  mobile/app/project/project-components.ts
  mobile/src/global.d.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

neaten paths
  components/useUserRedirect.ts
  mobile/app/components/SegmentedControl.tsx
  mobile/app/navigation/AppNavigator.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  pages/login.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Feature/web ui tidy
  components/Nav.tsx
  components/base/ActiveLink.tsx
  components/base/forms/Button.tsx
  components/base/forms/Checkbox.tsx
  components/base/forms/Input.tsx
  components/base/forms/InputGroup.tsx
  components/base/forms/Radio.tsx
  components/base/forms/Tabs.tsx
  package-lock.json
  package.json
  pages/other.tsx
  stories/forms/Button.stories.tsx
  stories/forms/Checkbox.stories.tsx
  stories/forms/InputGroup.stories.tsx
  stories/forms/Radio.stories.tsx
  stories/forms/Select.stories.tsx
  stories/forms/Tabs.stories.tsx
  stories/navigation/Tabs.stories.tsx
  styles/3rdParty/_bootstrap.scss
  styles/Global.scss
  styles/_variables.scss
  styles/components/_input.scss
  styles/components/_select.scss
  styles/mixins/box-shadow-mixin.scss
  styles/mixins/transition-mixin.scss
  styles/mixins/units.scss
  styles/project/_buttons.scss
  styles/project/_forms.scss
  styles/project/_index.scss
  styles/project/_popover.scss
  styles/project/_tooltip.scss
  styles/project/_type.scss
  styles/project/_utils.scss
  styles/styles.scss
Due: web-production, web-feature

Error handling and vercel cli
  .gitlab-ci.yml
  common/api/types/api-types.ts
  common/strings/strings.ts
  common/utils/errorHandler.ts
  mobile/app/project/api/api.ts
  now.json
  project/api.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

neaten up files, use official slack module for video
  .docs/.docker/solidstategroup-testcafe/Dockerfile
  .e2e/util/upload-file.ts
  logs/.gitkeep
  package-lock.json
  package.json
Due: web-production, web-feature

Delete nodejslack+1.4.0.patch
  patches/nodejslack+1.4.0.patch
Due: web-production, web-feature

remove file watcher script
  .gitlab-ci.yml
Due: web-production, web-feature

Trigger build
  azure-pipelines.yml
Due: web-production, web-feature

Trigger mobile builds
  common/project.js
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Update nextjs
  package.json
Due: web-production, web-feature

fix font warning
  pages/_app.tsx
  pages/_document.tsx
Due: web-production, web-feature

improve web storage
  package-lock.json
  package.json
  project/async-storage-api.ts
Due: web-production, web-feature

Fix cookie path
  project/async-storage-api.ts
Due: web-production, web-feature

Fixes
  common/api/types/api-types.ts
  common/components/LanguageHandler.tsx
  common/utils/utils.ts
  components/Nav.tsx
  project/api.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Fixes
  common/components/LanguageHandler.tsx
  pages/_app.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Tidy up styles
  styles/3rdParty/_bootstrap.scss
  styles/3rdParty/_index.scss
  styles/3rdParty/_react-datepicker.scss
  styles/Global.scss
  styles/components/_index.scss
  styles/components/_input.scss
  styles/project/_forms.scss
Due: web-production, web-feature

Add toggle to nav
  components/Nav.tsx
Due: web-production, web-feature

withBundleAnalyzer fix
  next.config.js
Due: web-production, web-feature

Add mfa calls
  common/cognito.ts
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Fix language handler
  common/components/LanguageHandler.tsx
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Updates from vert
  common/cognito.ts
  common/components/LanguageHandler.tsx
  common/strings/strings.ts
  components/LanguageHandler.tsx
  mobile/app/App.tsx
  mobile/app/components/LanguageHandler.tsx
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  postcss.config.js
  project/api.ts
  styles/3rdParty/_index.scss
Due: android-staging, ios-staging, ios-production, android-production, web-production, web-feature

Updates from vert
  pages/_app.tsx
  styles/3rdParty/_index.scss
  styles/3rdParty/_react-toastify.scss
Due: web-production, web-feature

storybook fix
  pages/_app.tsx
  patches/@storybook+builder-webpack4+6.4.19.patch
  patches/@storybook+ui+6.4.19.patch
  styles/3rdParty/_bootstrap.scss
  styles/3rdParty/_index.scss
Due: web-production, web-feature

Remove on-device knobs
  package.json
Due: web-production, web-feature

Fix select
  components/Messages.tsx
  components/ModalAlert.tsx
  components/base/forms/Input.tsx
  components/base/forms/Select.tsx
  components/base/forms/Tabs.tsx
  components/extras/Panel.tsx
  stories/base-components/Message.stories.tsx
  stories/forms/Select.stories.tsx
  stories/modals/Modal.stories.tsx
  styles/3rdParty/_bootstrap.scss
  styles/3rdParty/_index.scss
Due: web-production, web-feature

Date picker css
  styles/3rdParty/_index.scss
  styles/3rdParty/_react-datepicker.scss
Due: web-production, web-feature

Toast messages
  components/toast.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  styles/3rdParty/_index.scss
  styles/_variables.scss
Due: web-production, web-feature

Improve language handler
  components/LanguageHandler.tsx
Due: web-production, web-feature

Toast message
  stories/toast/Toast.stories.tsx
Due: none

Toast examples
  components/toast.tsx
  pages/_app.tsx
  stories/toast/Toast.stories.tsx
Due: web-production, web-feature

Add modal examples
  components/Modal.tsx
  components/ModalAlert.tsx
  components/ModalConfirm.tsx
  components/ModalDefault.tsx
  components/Toast.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  postcss.config.js
  stories/forms/Tabs.stories.tsx
  stories/modals/Modal.stories.tsx
  stories/toast/Toast.stories.tsx
  styles/flexbox/_index.scss
Due: web-production, web-feature

fix tabs
  components/ModalDefault.tsx
  components/base/forms/Tabs.tsx
  stories/navigation/Tabs.stories.tsx
Due: web-production, web-feature

fix tabs
  styles/Global.scss
  styles/components/_index.scss
  styles/components/_messages.scss
  styles/components/_panel.scss
  styles/components/_select.scss
  styles/components/_switch.scss
  styles/components/_tabs.scss
Due: web-production, web-feature
