Repository kyle-ssg/reanimated-reproduction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-mobile, deploy-web-production, deploy-web-staging, deploy-web-feature

.gitlab-ci.yml:

stages:
  - setup_env
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

setup-env-production:
  stage: setup_env
  variables:
    ENV: prod
    CODE_PUSH_ENV: Production
  only:
    refs:
      - master

setup-env-staging:
  stage: setup_env
  variables:
    ENV: staging
    CODE_PUSH_ENV: Staging
  only:
    refs:
      - staging

setup-env-web-feature:
  stage: setup_env
  variables:
    ENV: dev
  except:
    refs:
      - master
      - staging

deploy-mobile:
    image: ssgluke/gitlab-ci-codepush:v1.5
    stage: deploy
    variables:
        CODE_PUSH_APP_NAME_ANDROID: Solid-State-Group/Frontend-Boilerplate-Android
        CODE_PUSH_APP_NAME_IOS: Solid-State-Group/Frontend-Boilerplate-iOS
    before_script:
        - appcenter login --token $APPCENTER_ACCESS_TOKEN
        - cd mobile
        - npm i
    script:
        # - // Use this Android alternative and tweak "awk 'NR == 2'" when overriding versionName via product flavors
        # - ANDROID_APP_VERSION=$(grep 'versionName' android/app/build.gradle | awk 'NR == 2' | grep -o '".*"' | tr -d '"')
        # - appcenter codepush release -a $CODE_PUSH_APP_NAME_ANDROID --target-binary-version $ANDROID_APP_VERSION -d $CODE_PUSH_ENV --disable-duplicate-release-error
        - appcenter codepush release -a $CODE_PUSH_APP_NAME_ANDROID -d $CODE_PUSH_ENV --disable-duplicate-release-error
        - appcenter codepush release -a $CODE_PUSH_APP_NAME_IOS -d $CODE_PUSH_ENV --disable-duplicate-release-error
    only:
      changes:
        - common/**
        - mobile/**
      refs:
        - master
        - staging

setup-env-web:
  stage: setup_env
  variables:
      NOW_TEAM_NAME: solidstategroup
  only:
      changes:
        - "{*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}"

deploy-web-production:
    image: mhart/alpine-node:10
    stage: deploy
    before_script:
        - npm i -g now
        - npm i --unsafe-perm
    script:
        - now --token $NOW_TOKEN --scope $NOW_TEAM_NAME --confirm --local-config now.json --prod
    only:
      refs:
        - master
      changes:
        - "{*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}"

deploy-web-staging:
    image: mhart/alpine-node:10
    stage: deploy
    before_script:
        - npm i -g now
        - npm i --unsafe-perm
    script:
        - now --token $NOW_TOKEN --scope $NOW_TEAM_NAME --confirm --local-config now.staging.json --prod
    only:
      refs:
        - staging
      changes:
        - "{*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}"

deploy-web-feature:
    image: mhart/alpine-node:10
    stage: deploy
    before_script:
        - npm i -g now
        - npm i --unsafe-perm
    script:
        - now --token $NOW_TOKEN --scope $NOW_TEAM_NAME --confirm --local-config now.json
    except:
      refs:
        - master
        - staging
    only:
      changes:
        - "{*, !(mobile)/**, !(bin)/**, !(cli)/**, !(tests)/**}"

more gitlab experimentation
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Removed all attempt at env setup
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

web default deploy
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

oops
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

another go
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

before script for all web
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Switch now project
  .gitlab-ci.yml
  now.develop.json
  now.json
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

install now oops
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Dont use now --prod for staging/develop
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Figured out now aliasing
  .gitlab-ci.yml
  now.develop.json
  now.staging.json
  pages/index.js
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

aliasing also requires token etc
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Attempt at using git project name as now project name
  .gitlab-ci.yml
  now.json
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Improving mobile deploy scripts
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Added ENV var to mobile deploys
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Fixed yaml
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Renamed yaml anchor
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Pulling common req variables
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Small mobile change
  .gitlab-ci.yml
  mobile/app/screens/HomeScreen.js
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Mobile change to test CI
  mobile/app/screens/HomeScreen.js
Due: none

Reverted common mobile changes
  .gitlab-ci.yml
  mobile/app/screens/HomeScreen.js
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

test removing variables only
  .gitlab-ci.yml
  mobile/app/screens/HomeScreen.js
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Disable mobile required changes
  .gitlab-ci.yml
  mobile/app/screens/HomeScreen.js
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Attempt to fix app center login from env var Fix req changes for mobile deploy
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Don't need to specify token to appcenter
  .gitlab-ci.yml
  mobile/app/screens/HomeScreen.js
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

don't need appcenter login at all
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Trigger mobile build
  mobile/app/screens/HomeScreen.js
Due: none

Fixed codepush commands
  .gitlab-ci.yml
  mobile/app/screens/HomeScreen.js
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Specify plist for codepush
  .gitlab-ci.yml
  mobile/app/screens/HomeScreen.js
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

fix android staging deploy fix file watchers error during codepush build
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Mobile change
  mobile/app/screens/HomeScreen.js
Due: none

Remove sudo
  .gitlab-ci.yml
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Fixed missing dependency
  .gitlab-ci.yml
  mobile/app/screens/HomeScreen.js
  mobile/package-lock.json
  mobile/package.json
Due: deploy-mobile, deploy-web-production, deploy-web-staging, deploy-web-feature

Use full version number for mobile
  mobile/android/app/build.gradle
  mobile/ios/mobile/Info.plist
Due: none

GitLab pipeline support for both web and mobile
  .gitignore
  .gitlab-ci.yml
  .nowignore
  components/base/forms/Tabs.js
  mobile/android/app/build.gradle
  mobile/app/screens/HomeScreen.js
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/mobile.xcodeproj/project.pbxproj
  mobile/ios/mobile/GoogleService-Info-Staging.plist
  mobile/ios/mobile/Info-AppCenter.plist
  mobile/ios/mobile/Info.plist
  mobile/metro.config.js
  mobile/package-lock.json
  mobile/package.json
  pages/index.js
  pages/product.js
  project/libs.js
  project/lodash.js
  project/polyfill.js
  webpack/loaders.js
Due: deploy-mobile, deploy-web-production, deploy-web-staging, deploy-web-feature

Adds husky
  mobile/package-lock.json
  mobile/package.json
  package.json
Due: deploy-mobile, deploy-web-production, deploy-web-staging, deploy-web-feature

Testing husky
  mobile/app/screens/HomeScreen.js
Due: none

Testing husky
  package-lock.json
  package.json
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

now config
  package-lock.json
  package.json
Due: deploy-web-production, deploy-web-staging, deploy-web-feature

Testing husky
  hooks/pre-commit
  mobile/package.json
Due: deploy-mobile
